@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: #050816;
  color: white;
  scroll-behavior: smooth;
}


@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* বড় আকারে যাবে */
  }
}

.animate-grow-shrink {
  animation: grow-shrink 3s ease-in-out infinite; /* অ্যানিমেশনটি সবসময় চলতে থাকবে */
}





@keyframes rotate {
  from {
      transform: rotate(0deg); /* Starting position */
  }
  to {
      transform: rotate(100deg); /* Final position */
  }
}

.animate-rotate {
  animation: rotate 2s linear infinite; /* Infinite animation */
}







@keyframes rotate {
  from {
      transform: rotate(0deg); /* Starting position */
  }
  to {
      transform: rotate(360deg); /* Final position */
  }
}

.animate-rotate {
  animation: rotate 11s linear infinite; /* Infinite rotation animation */
}






.resume{
  transition: 0.3s;
}
.resume:hover{
background: black;
border: 1px solid orangered;
}










